body{
  font-family: 'Source Sans Pro','lucida sans',arial,sans-serif;
}

.container-fluid{
  height: 66px;
}

.navbar-toggle{
  margin-top: 15px;
}

.nav{
  margin-top: 10px;
}

.navbar-brand{
  background: url('https://g.europe.newsweek.com/www/img/redesign/sprite.png?v=1.0.0') 0 5px no-repeat #ff0500;
  width: 230px;
  height: 66px;
}

.navbar-brand:hover{
  background-color: #ff0500 !important;
}

li.left{
  float: left;
}
