body{
  font-family: 'Source Sans Pro','lucida sans',arial,sans-serif;
}

.navbar{
  background: black;
}

.container-fluid{
  height: 66px;
}

.navbar-toggle{
  margin-top: 15px;
}

.navbar-collapse{
  background: black;
}

.nav{
  margin-top: 10px;
}

.nav a{
  color: white !important;
  display: inline-block !important;
  font-weight: 400 !important;
  font-size: 11px;
  padding-bottom: 18px !important;
}

.nav a:hover{
  border-bottom: 4px solid red;
}

.navbar-brand{
  background: url('https://g.europe.newsweek.com/www/img/redesign/sprite.png?v=1.0.0') 0 5px no-repeat #ff0500;
  width: 230px;
  height: 66px;
}

.navbar-brand:hover{
  background-color: #ff0500 !important;
}

li.left{
  float: left;
}

.landing{
  margin: 0 auto;
  margin-top: 90px;
}

.landing .full-img{
  max-width: 100%;
  height: 480px;
  background: url(../images/full-img.jpg);
  background-size: cover;
  position: relative;
}

.full-img .img-addition{
  border-top: 3px solid red;
  background: -webkit-linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%);
  background: -o-linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%);
  background: linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.img-addition h4{
  font-size: 15px;
  color: red;
  padding-bottom: 0px;
}

.img-addition h1{
  font-size: 25px;
  padding-top: 5px;
  margin-top: 5px;
}

.img-addition h1:hover{
  text-decoration: underline;
  cursor: pointer;
}

.img-addition h2{
  font-size: 20px;
}

.landing .col-sm-4 p{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.landing .col-sm-4 li{
  font-size: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  list-style: square;
  list
}

.landing .col-sm-4 li:hover{
  text-decoration: underline;
}

.articles .img-box{
  margin-top: 40px;
  min-width: 100%;
  min-height: 255px;
  background: url(../images/article.jpg);
  background-size: cover;
  cursor: pointer;
}

.articles .hide{
  display: none;
}

.articles .title-box{
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: 0;
}

.articles .title-box:hover{
  text-decoration: underline;
}

.articles .longDes-box{
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
}

.articles .longDes-box:hover{
  text-decoration: underline;
}

.articles .des-box{
  font-size: 15px;
  font-weight: normal;
  padding-top: 0;
  margin-top: 0;
}

.articles li{
  font-weight: bold;
  cursor: pointer;
}

.articles li:hover{
  text-decoration: underline;
}

.headlines h1{
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  width: 150px;
  border-bottom: 5px solid red;
  margin-bottom: 30px;
}

.headline-section .col-sm-4{
  text-align: center;
}

.more-articles{
  height: 100%;
  margin: 30px 5%;
  padding: 20px 0;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  text-align: center;
}

.more-articles h1{
  color: red;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.more-articles h1:hover{
  text-decoration: underline;
  cursor: pointer;
}

.more-articles h2{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.more-articles h2:hover{
  text-decoration: underline;
  cursor: pointer;
}

.more-articles h3{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.voices h1{
  width: 100px;
}

.opinion{
  border-top: none;
}

.opinion .col-sm-3{
  text-align: left;
  padding-bottom: 20px;
}

.opinion .img-box-opinion{
  background: url(../images/img-opinion.jpg);
  background-size: cover;
  height: 190px;
  margin-bottom: 50px;
  position: relative;
}

.img-box-opinion .title-little{
  padding-left: 20px;
  color: white;
  width: 100%;
  background: black;
  border-top: 1px solid white;
  position: absolute;
  bottom: -40px;
}

.news-in-photos{
  margin-top: 40px;
  background: lightgray;
  height: 560px;
}

.news-in-photos h1{
  color: red;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
}

.news-in-photos h1:hover{
  text-decoration: underline;
}

.news-in-photos h5{
  color: red;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.news-in-photos h5:hover{
  text-decoration: underline;
}

.news-in-photos li{
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
}

.news-in-photos p{
  font-size: 15px;
  font-weight: bold;
}

.news-in-photos button{
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

.img-wrapper{
  margin: 20px auto;
  height: 500px;
  width: 100%;
}

.img-box-news{
  background: url(../images/News-photos.jpg);
  background-size: cover;
  height: 100%;
}





@media screen and (max-width: 1200px) {
  .navbar-brand{
    background: url('https://g.europe.newsweek.com/www/img/redesign/sprite.png') -3px -49px no-repeat #ff0500;
    width: 55px;
    height: 66px;
  }

  .nav a{
    font-size: 9px;
    padding: 15px 9px !important;
  }

  .landing .row .col-sm-4{
    display: none;
  }

  .landing .row .col-sm-8{
    display: block;
    min-width: 100%;
  }

  .articles .col-sm-4{
      display: block;
      width: 100%;;
    }

  .articles .img-box{
    height: 350px;
  }

  .more-articles{
    height: 100%;
  }

  .more-articles .col-sm-3{
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .opinion .col-sm-3{
    display: block;
    width: 50%;
  }

  .news-in-photos{
    height: auto;
    width: 100%;
  }

  .news-in-photos .wrapper{
    display: block;
    min-width: 100%;
  }

  .img-box-news{
    min-width: 100%;
    min-height: 100%;
  }

  .news-in-photos .col-sm-4{
    display: block;
    width: 100%;
    padding-bottom: 40px;
  }

}

@media screen and (max-width: 800px) {

  .opinion .col-sm-3{
    display: block;
    width: 100%;
  }

}
